# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production (build folder)
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# pdf file
*.pdf

#js file
test.js

#unnecessary files
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake